<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Deck Compare | Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4>Cards in Deck 1::</h4>
          <ul class="list-group list-group-flush">
          {% for i in one %}
              <li class="list-group-item">{{ i }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-sm">
          <h4>Cards in both decks:</h4>
          <ul class="list-group list-group-flush">
          {% for i in both %}
              <li class="list-group-item">{{ i }}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-sm">
          <h4>Cards in Deck 2:</h4>
          <ul class="list-group list-group-flush">
          {% for i in two %}
              <li class="list-group-item">{{ i }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
