<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Deck Compare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="jumbotron">
      <h4>Cards in Deck 1:<br></h4>
      <ul style="list-style: none;".
      {% for i in one %}
          <li>{{ i }}</li>
      {% endfor %}
      </ul>
      <h4>Cards in both decks:<br></h4>
      <ul style="list-style: none;".
      {% for i in both %}
          <li>{{ i }}</li>
      {% endfor %}
      </ul>
      <h4>Cards in Deck 2:<br></h4>
      <ul style="list-style: none;".
      {% for i in two %}
          <li>{{ i }}</li>
      {% endfor %}
      </ul>
    </div>
  </body>
</html>
